menu "Cpp_Bus_Driver Configuration"

    choice
        prompt "Select log level"
        default CPP_BUS_DRIVER_LOG_LEVEL_INFO
            config CPP_BUS_DRIVER_LOG_LEVEL_DEBUG
                bool "Debug"
            config CPP_BUS_DRIVER_LOG_LEVEL_INFO
                bool "Info"
            config CPP_BUS_DRIVER_LOG_LEVEL_ERROR
                bool "Error"
            config CPP_BUS_DRIVER_LOG_LEVEL_NONE
                bool "None"
    endchoice

endmenu
