menu "Cpp_Bus_Driver Configuration"

    choice
        prompt "Select log level"
        default CPP_BUS_DRIVER_LOG_LEVEL_INFO
            config CPP_BUS_DRIVER_LOG_LEVEL_DEBUG
                bool "Log level debug"
            config CPP_BUS_DRIVER_LOG_LEVEL_INFO
                bool "Log level info"
            config CPP_BUS_DRIVER_LOG_LEVEL_ERROR
                bool "Log level error"
            config CPP_BUS_DRIVER_LOG_LEVEL_NONE
                bool "Log level none"
    endchoice

endmenu
